<div
  class="grid grid-cols-10 grid-rows-10 gap-0 h-screen w-full dark:bg-stone-800"
>
  <div class="col-span-10 navbar w-full border-b-2 border-stone-900 bg-inherit">
    <div class="flex-1">
      <span>{{ currentChatId }}</span>
    </div>
    <div class="flex-none gap-2">
      <div class="form-control">
        <input
          type="text"
          placeholder="Search"
          class="input input-bordered w-24 md:w-auto"
        />
      </div>
      <div class="dropdown dropdown-end">
        <label class="swap swap-rotate">
          <input type="checkbox" class="theme-controller" value="synthwave" />

          <!-- sun icon -->
          <svg
            class="swap-off h-10 w-10 fill-current"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <path
              d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z"
            />
          </svg>

          <!-- moon icon -->
          <svg
            class="swap-on h-10 w-10 fill-current"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <path
              d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z"
            />
          </svg>
        </label>
      </div>
    </div>
  </div>

  <!-- Chat Container -->
  @if(currentChatId){

  <div
    #chatContainer
    class="col-span-8 row-span-8 row-start-2 flex flex-col overflow-y-scroll p-3 [&::-webkit-scrollbar]:w-1.5 [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-stone-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500 dark:[&::-webkit-scrollbar-thumb]:rounded-sm"
  >
    @for (message of messages; track message.id;let index = $index) {
    {{ scrollToBottom() }}
    <div class="flex flex-col items-start dark:text-white text-black mx-8">
      @if (index === 0 || messages[index - 1].sender_Id !== message.sender_Id) {
      <div class="flex flex-row items-center">
        <img
          class="size-8 rounded-full mr-3"
          src="{{
            profileImageApi + getSender(message.sender_Id).profileImageUrl
          }}"
          alt="User profile image"
        />
        <span class="font-semibold text-base">
          {{ getSender(message.sender_Id).userName }}
        </span>
        <span class="ml-3 dark:text-white/30 text-sm font-light">
          {{ getSendTime(message.send_Date) }}
        </span>
      </div>
      }
      <div class="flex flex-col ml-10">
        @if (message.messageType === 'text') {
        <p class="p-2 text-base font-normal dark:text-white/80">
          {{ message.content }}
        </p>
        @if(message.fileName){
        <div
          class="flex flex-row dark:bg-stone-900 p-3 rounded-md cursor-pointer"
        >
          <svg
            class="size-10"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19 9V17.8C19 18.9201 19 19.4802 18.782 19.908C18.5903 20.2843 18.2843 20.5903 17.908 20.782C17.4802 21 16.9201 21 15.8 21H8.2C7.07989 21 6.51984 21 6.09202 20.782C5.71569 20.5903 5.40973 20.2843 5.21799 19.908C5 19.4802 5 18.9201 5 17.8V6.2C5 5.07989 5 4.51984 5.21799 4.09202C5.40973 3.71569 5.71569 3.40973 6.09202 3.21799C6.51984 3 7.0799 3 8.2 3H13M19 9L13 3M19 9H14C13.4477 9 13 8.55228 13 8V3"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <div
            class="flex flex-col ml-2"
            (click)="downloadFile(message.fileUrl, message.fileName)"
          >
            <span class="text-base text-gray-300">
              {{ message.fileName }}
            </span>
            <span class="text-xs text-gray-400">
              @if (message.fileSize >= 1048576) {
              {{ (message.fileSize / 1048576).toFixed(2) }} MB } @else if
              (message.fileSize >= 1024) {
              {{ (message.fileSize / 1024).toFixed(2) }} KB } @else {
              {{ message.fileSize }} B }
            </span>
          </div>
        </div>
        } } @if (message.messageType === 'image') {
        <p class="p-2 text-base font-normal dark:text-white/80">
          {{ message.content }}
        </p>
        <img class="w-1/2" src="{{ profileImageApi + message.fileUrl }}" />
        }
      </div>
    </div>
    }
  </div>

  <!-- Bottom Textbox -->
  <form
    class="col-span-8 col-start-1 row-start-10 dark:bg-stone-900/80 flex flex-row justify-between items-center m-3 rounded-xl h-fit"
    (ngSubmit)="sendMessage(messageToSend)"
  >
    <!-- <div class="absolute bottom-0">
      <img class="w-1/2" src="https://picsum.photos/200/300" alt="" />
    </div> -->
    <!-- VideoChat Button -->
    <button
      class="fill-stone-900/80 hover:fill-stone-800 hover:bg-stone-800 ml-2 rounded-md p-1"
    >
      <svg
        class="size-9 fill-inherit"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="24" height="24" fill="none" />
        <path
          d="M5 18H15C16.1046 18 17 17.1046 17 16V8.57143V8C17 6.89543 16.1046 6 15 6H5C3.89543 6 3 6.89543 3 8V16C3 17.1046 3.89543 18 5 18Z"
          class="stroke-sky-600 stroke-2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />

        <path
          d="M17 10L21 7V17L17 14"
          class="stroke-sky-600 stroke-2"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <!-- Send File or Image Button -->
    <input
      #fileInput
      type="file"
      (change)="onFileSelected($event)"
      class="hidden"
    />
    <button
      class="fill-stone-900/80 hover:fill-stone-800 hover:bg-stone-800 ml-2 rounded-md p-1"
      (click)="fileInput.click()"
    >
      <svg
        class="size-9 fill-inherit"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="Edit / Add_Plus_Circle">
          <path
            id="Vector"
            d="M8 12H12M12 12H16M12 12V16M12 12V8M12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21Z"
            class="stroke-sky-600 stroke-2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </g>
      </svg>
    </button>
    <div
      [ngClass]="{ hidden: !selectedFileName }"
      class="bg-stone-800 rounded-md text-xs flex items-center my-1 p-1 truncate"
    >
      <button class="btn btn-xs btn-error mr-1" (click)="removeSelectedFile()">
        X
      </button>
      {{ selectedFileName }}
    </div>
    <input
      type="text"
      placeholder="Type here"
      class="input outline-none focus:outline-none w-full bg-stone-900/80 border-none"
      [(ngModel)]="messageToSend.content"
      name="messageContent"
    />

    <button
      class="fill-stone-900/80 hover:fill-stone-800 hover:bg-stone-800 mx-2 rounded-md p-1"
      type="submit"
    >
      <svg
        class="size-8 fill-inherit stroke-sky-600 stroke-2"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11.5003 12H5.41872M5.24634 12.7972L4.24158 15.7986C3.69128 17.4424 3.41613 18.2643 3.61359 18.7704C3.78506 19.21 4.15335 19.5432 4.6078 19.6701C5.13111 19.8161 5.92151 19.4604 7.50231 18.7491L17.6367 14.1886C19.1797 13.4942 19.9512 13.1471 20.1896 12.6648C20.3968 12.2458 20.3968 11.7541 20.1896 11.3351C19.9512 10.8529 19.1797 10.5057 17.6367 9.81135L7.48483 5.24303C5.90879 4.53382 5.12078 4.17921 4.59799 4.32468C4.14397 4.45101 3.77572 4.78336 3.60365 5.22209C3.40551 5.72728 3.67772 6.54741 4.22215 8.18767L5.24829 11.2793C5.34179 11.561 5.38855 11.7019 5.407 11.8459C5.42338 11.9738 5.42321 12.1032 5.40651 12.231C5.38768 12.375 5.34057 12.5157 5.24634 12.7972Z"
          class="fill-stone-900"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </form>
  <!-- APP Users Bar -->
  <app-users-bar
    class="row-span-9 col-span-2 col-start-9 row-start-2 h-full"
    [users]="usersInChat"
  />
  }
</div>
