@for (message of messages; track message.id) { @if (message.sender_Id == userId)
{
<div class="flex flex-col items-end dark:text-white text-black mb-3">
  <div class="bg-slate-300 dark:bg-gray-600 p-3 rounded-xl max-w-3xl">
    <div class="my-2 flex flex-row items-center">
      <img
        class="size-6 rounded-full mr-1"
        src="https://picsum.photos/200/300"
        alt="User profile image"
      />
      <span class="font-semibold">Me</span>
      <span class="ml-3 dark:text-gray-400"> {{ message.send_Date }}</span>
    </div>
    <p class="p-2 text-base font-normal">{{ message.content }}</p>
  </div>
</div>
} @else {
<div class="flex flex-col items-start dark:text-white text-black mb-3">
  <div class="bg-slate-300 dark:bg-gray-600 p-3 rounded-xl max-w-3xl">
    <div class="flex flex-row items-center">
      <img
        class="size-6 rounded-full mr-1"
        src="https://picsum.photos/200/300"
        alt="User profile image"
      />
      <span class="font-semibold">{{ getSenderName(message.sender_Id) }}</span>
      <span class="ml-3 dark:text-gray-400"> {{ message.send_Date }} </span>
    </div>
    <p class="p-2 text-base font-normal">
      {{ message.content }}
    </p>
  </div>
</div>
} }
