<div class="m-10">
  <div class="space-y-12">
    <div class="border-b border-gray-900/10">
      <h2 class="text-3xl font-semibold text-gray-900 dark:text-gray-200">
        {{ chat.name }}
      </h2>
    </div>
    <div>
      <label
        for="username"
        class="block text-sm/6 font-medium text-gray-900 dark:text-gray-200"
        >Chat name</label
      >
      <input
        type="text"
        name="username"
        id="username"
        class="mb-5 block w-1/4 rounded-md bg-white dark:bg-stone-700 dark:text-gray-200 px-3 py-1.5 text-base text-gray-900 outline-none placeholder:text-gray-400 focus:outline-1 focus:-outline-offset-2 focus:outline-sky-600 sm:text-sm/6"
        [(ngModel)]="chat.name"
      />

      <table class="table">
        <thead>
          <tr>
            <th>
              <label>
                <input type="checkbox" class="checkbox" />
              </label>
            </th>
            <th class="text-sm">Username</th>
            <th class="text-sm">Status</th>
            <th class="text-sm">Roles</th>
            <!-- <th class="text-sm">Owner</th> -->
            <th class="text-sm">
              <button class="btn btn-ghost btn-md text-sky-600">
                <!-- (click)="refreshChats()" -->
                <svg
                  class="size-6 fill-none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.06189 13C4.02104 12.6724 4 12.3387 4 12C4 7.58172 7.58172 4 12 4C14.5006 4 16.7332 5.14727 18.2002 6.94416M19.9381 11C19.979 11.3276 20 11.6613 20 12C20 16.4183 16.4183 20 12 20C9.61061 20 7.46589 18.9525 6 17.2916M9 17H6V17.2916M18.2002 4V6.94416M18.2002 6.94416V6.99993L15.2002 7M6 20V17.2916"
                    class="stroke-sky-600"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                Refresh
              </button>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for(user of users;track user.id){
          <tr class="hover">
            <th>
              <label>
                <input type="checkbox" class="checkbox" />
              </label>
            </th>
            <td>
              <div class="flex items-center gap-3">
                <div class="avatar">
                  <div class="mask mask-squircle h-12 w-12">
                    <img
                      src="https://img.daisyui.com/images/profile/demo/2@94.webp"
                      alt="Avatar Tailwind CSS Component"
                    />
                  </div>
                </div>
                <div>
                  <div class="font-bold">{{ user.userName }}</div>
                </div>
              </div>
            </td>
            <td>
              @if(user.isOnline){
              <span class="text-green-600">Online</span>
              }@else {
              <span class="text-red-600">Offline</span>
              }

              <br />
            </td>
            <td>
              @if(user.userName == "test"){
              <span class="badge badge-ghost badge-sm"
                >Desktop Support Technician</span
              ><span class="badge badge-ghost badge-sm"
                >Desktop Support Technician</span
              ><span class="badge badge-ghost badge-sm"
                >Desktop Support Technician</span
              ><span class="badge badge-ghost badge-sm"
                >Desktop Support Technician</span
              ><span class="badge badge-ghost badge-sm"
                >Desktop Support Technician</span
              ><span class="badge badge-ghost badge-sm"
                >Desktop Support Technician</span
              ><span class="badge badge-ghost badge-sm"
                >Desktop Support Technician</span
              ><span class="badge badge-ghost badge-sm"
                >Desktop Support Technician</span
              ><span class="badge badge-ghost badge-sm"
                >Desktop Support Technician</span
              >
              }
              <span class="badge badge-ghost badge-sm"
                >Desktop Support Technician</span
              >
            </td>
            <!-- <td>Alexander</td> -->
            <th>
              <button class="btn btn-ghost btn-md text-sky-600">Manage</button>
            </th>
          </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="mt-6 flex items-center justify-end gap-x-6">
      <button
        type="button"
        class="text-sm/6 font-semibold text-gray-900 dark:text-gray-300 dark:hover:text-gray-100 dark:hover:bg-stone-700 px-3 py-2 rounded-md"
      >
        Cancel
      </button>
      <button
        type="submit"
        class="rounded-md bg-stone-900 px-5 py-3 text-sm font-semibold text-white shadow-xs hover:bg-stone-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600"
      >
        Save
      </button>
    </div>
  </div>
</div>
