<div class="flex flex-col items-end dark:text-white text-black mb-3">
  <div class="bg-slate-300 dark:bg-gray-600 p-3 rounded-xl max-w-xl">
    <div class="my-2 flex flex-row items-center">
      <img
        class="size-6 rounded-full mr-1"
        src="https://picsum.photos/200/300"
        alt="User profile image"
      />
      <span class="font-semibold">Me</span>
      <span class="ml-3 dark:text-gray-400">11:46</span>
    </div>
    <p class="p-2 text-base font-normal">
      {{ message }}
    </p>
  </div>
</div>

<div class="flex flex-col items-start dark:text-white text-black mb-3">
  <div class="bg-slate-300 dark:bg-gray-600 p-5 rounded-xl">
    <div class="my-2 flex flex-row items-center">
      <img
        class="size-6 rounded-full mr-1"
        src="https://picsum.photos/200/300"
        alt="User profile image"
      />
      <span class="font-semibold">Alexander</span>
      <span class="ml-3 dark:text-gray-400">11:46</span>
    </div>
    <p class="p-2 text-base font-normal">
      {{ message }}
    </p>
  </div>
</div>
