<nav
  class="bg-white animated-border dark:bg-neutral-900/30 w-full p-1 flex justify-between"
>
  <div class="w-fit m-1">
    <h3 class="text-xl p-1 font-semibold text-stone-700 dark:text-gray-300">
      Chat1
    </h3>
  </div>
  <div class="relative flex items-center">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="absolute stroke-1 stroke-gray-400 size-5 mx-2 fill-none"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
      />
    </svg>
    <input
      type="text"
      id="search"
      class="bg-gray-50 pl-8 border max-w-xl border-none text-gray-900 text-sm rounded-lg outline-none block w-full p-2.5 dark:bg-stone-700 0 dark:text-gray-300"
    />
  </div>
</nav>
