<div
  class="fixed w-full bottom-0 ml-56 bg-slate-300 dark:bg-stone-900 h-20 flex flex-row items-center p-5"
>
  <textarea
    type="text"
    class="w-3/4 h-10 appearance-none outline-none max-h-14 min-h-14 p-1 dark:bg-stone-700 bg-white dark:text-white text-black rounded-lg"
    [(ngModel)]="message"
  ></textarea>
  <button
    class="dark:bg-gray-700 rounded-xl p-3 ml-3 w-24 dark:hover:bg-gray-600 text-black dark:text-white"
    (click)="sendMessagetoParent()"
  >
    Send
  </button>
</div>
