@if(isCreatingChat){
<app-chat-create (chatForCreationEventEmitter)="handleChatCreation($event)" />
}

<div class="flex flex-row w-screen h-screen">
  <app-sidebar [chats]="chats" (setChatEventEmitter)="setCurrentChat($event)" />

  @if(!isVideoChat){
  <div class="flex flex-col w-full h-full justify-between">
    @if(isLoadingMessages){
    <p>Loading</p>
    } @else { @if(currentChatId){
    <app-chat-message
      [messages]="messages"
      [usersInChat]="usersInChat"
      [currentChatId]="currentChatId"
    />
    } }
  </div>
  @if(currentChatId){
  <app-users-bar [users]="usersInChat" />
  } }@else{
  <app-video-chat
    class="grow"
    (closeVideoChatEventEventEvmitter)="openVideoChat($event)"
  />
  }
</div>
