@if(isCreatingChat){
<app-chat-create />
}

<div class="flex flex-row w-screen h-screen">
  <app-sidebar [chats]="chats" (setChatEventEmitter)="setCurrentChat($event)" />

  <div class="flex flex-row w-full h-full">
    @if(!isVideoChat){
    <div class="flex flex-col w-full h-full justify-between">
      @if(isLoadingMessages){
      <p>Loading</p>
      } @else {
      <app-chat-message
        [messages]="messages"
        [usersInChat]="usersInChat"
        [currentChatId]="currentChatId"
      />
      }
    </div>
    @if(currentChatId){
    <!-- <app-users-bar [users]="usersInChat" /> -->
    } }@else{
    <app-video-chat
      class="grow"
      (closeVideoChatEventEventEvmitter)="openVideoChat($event)"
    />
    }
  </div>
</div>
