<aside
  id="logo-sidebar"
  class="top-0 right-0 z-40 w-48 h-screen transition-transform -translate-x-full sm:translate-x-0 flex flex-col overflow-y-auto"
  aria-label="Sidebar"
>
  <div class="h-full px-3 py-4 bg-gray-50 dark:bg-gray-800">
    <div class="flex items-center ps-4 mb-5">
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        >Users</span
      >
    </div>
    <ul class="space-y-2 font-medium">
      @for (user of users; track user.id) {
      <li [routerLink]="['/profile/info', user.id]">
        <div
          href="#"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group cursor-pointer"
        >
          <img
            class="rounded-full size-8"
            src="https://picsum.photos/200/300"
            alt=""
          />
          @if(user.isOnline){
          <span class="ms-3">{{ user.userName }}</span>
          }@else{
          <span class="ms-3 text-red-600">{{ user.userName }}</span>
          }
        </div>
      </li>

      }
    </ul>
  </div>
</aside>
