<aside
  id="logo-sidebar"
  class="h-full flex flex-col overflow-y-auto dark:bg-stone-900/50"
  aria-label="Sidebar"
>
  <div class="px-3 py-4">
    <div class="flex items-center ps-4 mb-5">
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-gray-300"
        >Users</span
      >
    </div>
    <ul class="space-y-2 font-medium">
      @for (user of users; track user.id) {
      <li [routerLink]="['/profile/info', user.id]">
        <div
          href="#"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-stone-800 group cursor-pointer"
        >
          <img
            class="rounded-full size-8"
            src="{{ profileImageApi + user.profileImageUrl }}"
            alt=""
          />
          @if(user.isOnline){
          <span class="ms-3 text-gray-200">{{ user.userName }}</span>
          }@else{
          <span class="ms-3 text-stone-600">{{ user.userName }}</span>
          }
        </div>
      </li>

      }
    </ul>
  </div>
</aside>
