<div class="w-screen h-screen flex items-center justify-center">
  <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-sm">
    <h2 class="text-2xl font-bold mb-6 text-center">Register</h2>

    <form #userRegisterForm="ngForm" (ngSubmit)="registerUser()">
      <div class="flex flex-row">
        <div class="mb-4 mr-2">
          <label for="username" class="block text-gray-700 font-bold mb-2"
            >First Name</label
          >
          <input
            required
            #firstname="ngModel"
            type="text"
            id="firstname"
            name="firstname"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            placeholder="firstname"
            [(ngModel)]="user.firstname"
          />
        </div>
        <div class="mb-4 ml-2">
          <label for="username" class="block text-gray-700 font-bold mb-2"
            >Last Name</label
          >
          <input
            required
            #lastname="ngModel"
            type="text"
            id="lastname"
            name="lastname"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            placeholder="lastname"
            [(ngModel)]="user.lastname"
          />
        </div>
      </div>
      <div class="mb-4">
        <label for="username" class="block text-gray-700 font-bold mb-2"
          >Username</label
        >
        <input
          required
          #username="ngModel"
          type="text"
          id="username"
          name="username"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          placeholder="Enter your username"
          [(ngModel)]="user.username"
        />
      </div>
      <div class="mb-4">
        <label for="username" class="block text-gray-700 font-bold mb-2"
          >Email</label
        >
        <input
          required
          #email="ngModel"
          type="email"
          id="email"
          name="email"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          placeholder="Enter your email"
          [(ngModel)]="user.email"
        />
      </div>
      <div class="mb-6">
        <label for="password" class="block text-gray-700 font-bold mb-2"
          >Password</label
        >
        <input
          required
          #password="ngModel"
          type="password"
          id="password"
          name="password"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          placeholder="Enter your password"
          [(ngModel)]="user.password"
        />
      </div>
      <div class="mb-6">
        <a class="text-sm" routerLink="/login">Already have an account?</a>
      </div>
      <div class="flex items-center justify-between">
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          [disabled]="userRegisterForm.invalid"
        >
          Register
        </button>
      </div>
    </form>
  </div>
</div>
